PORT=5000
MONGO_URI=mongodb://Nanthuserver08:Nantha2006@ac-kinpodb-shard-00-00.8hykeds.mongodb.net:27017,ac-kinpodb-shard-00-01.8hykeds.mongodb.net:27017,ac-kinpodb-shard-00-02.8hykeds.mongodb.net:27017/?ssl=true&replicaSet=atlas-cb8v4p-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=ideabridge_super_secret_key_1234
NODE_ENV=development
